<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Example</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Hello, world!</h1>
        <p class="lead">This is a simple Bootstrap example.</p>
        {% if user %}
        <div>
            {% for item in user %}
            <div>
                {{ item }} - {{ user[item] }}
            </div>
            {% endfor %}
            <img src="{{ user['picture'] }}" alt="User Picture">
        </div>
        <a href="/logout" class="btn btn-primary">Logout</a>
        {% else %}
        <p class="lead">You are not logged in.</p>
        <a href="/login" class="btn btn-primary">Login</a>
        {% endif %}
    </div>

    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>